
#header{
	text-align: center;	
	background-image: url(images/dark2.jpg);"
	margin-right: 500px;
	color: white;

}

#name-label{

	font-size: 30px;
}
#number-label{

	font-size: 30px;
}
#email-label{

	font-size: 30px;
}
#radio{

	font-size: 30px;
}

#dropdown{

	font-size: 30px;
}
#check{

	font-size: 30px;
}
#submit{

	font-size: 30px;
}

input[type=text], select{
	width: 300px;
	padding: 12px 20px;
 	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}

input[type=number], select{
	width: 200px;
	padding: 12px 20px;
 	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}

input[type=email], select{
	width: 300px;
	padding: 12px 20px;
 	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}

select[type=sex], select{
	width: 300px;
	padding: 12px 20px;
 	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}

#radio{
	font-size: 20px;
}

#survey{
	border-radius: 5px;
  	background-color: #f2f2f2;
 	padding: 20px;
 	text-align: center;	
 	margin-left: 500px;
 	margin-right: 500px;
}